@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Helvetica";
  src: url("./assets/Fonts/helvetica_neu_bold.ttf") format("truetype");
}

@font-face {
  font-family: "SerifRegular";
  src: url("./assets/Fonts/DMSerifDisplay-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "SerifItalic";
  src: url("./assets/Fonts/DMSerifDisplay-Italic.ttf") format("truetype");
}

@font-face {
  font-family: "Italiana";
  src: url("./assets/Fonts/Italiana-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Lato";
  src: url("./assets/Fonts/Lato-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "LatoThin";
  src: url("./assets/Fonts/Lato-Thin.ttf") format("truetype");
}
@font-face {
  font-family: "Manrope";
  src: url("./assets/Fonts/Manrope-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Pacifico";
  src: url("./assets/Fonts/Pacifico-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  src: url("./assets/Fonts/Poppins-Regular.ttf") format("truetype");
}

:root {
  --scroll-b-r: 20px;
  --scroll-width: 5px;
}

::-webkit-scrollbar {
  height: 0px; /* height of horizontal scrollbar ← You're missing this */
  width: var(--scroll-width); /* width of vertical scrollbar */
  border: 1px solid #d5d5d5;
}
::-webkit-scrollbar-track {
  border-radius: var(--scroll-b-r);
  background: #5f6469;
}

::-webkit-scrollbar-thumb {
  border-radius: var(--scroll-b-r);
  background: #b0b0b0;
}

*,
body {
  padding: 0px;
  margin: 0px;
}

.home-left-div {
  background-image: url("./assets//Images/fuel-splash2.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: right;
}

.open-nav {
  transform: rotate(90deg);
  transition: transform 300ms ease-in;
}

.close-nav {
  transform: rotate(0deg);
  transition: transform 300ms ease-in;
}

.nav-in {
  margin-left: -90vw;
  transition: margin-left 300ms ease-in;
}

.nav-out {
  margin-left: 0vw;
  transition: margin-left 300ms ease-in;
}
